<div class="jumbotron mt-5">
    <h2 class="heading">Filtrar Noticias por país y categoría</h2>
    <div class="row mt-3">
        <div class="col-lg-8 offset-lg-2">
            <form (ngSubmit)="buscarNoticia()">
                <div class="form-group">
                    <select name="categoria" [(ngModel)]="categoriaSeleccionada" class="form-control form-control-lg">
                        <option *ngFor="let item of categorias" [value]="item.value">{{item.nombre}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <select name="pais" [(ngModel)]="paisSeleccionado" class="form-control form-control-lg">
                        <option *ngFor="let pais of paises" [value]="pais.value">{{pais.nombre}}</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-block btn-lg">Buscar</button>
            </form>
        </div>
    </div>
</div>
